		/**
		  * TODO: Write setter documentation.
		  * @param value	TODO: Write param documentation.
		  */
		private function set _%PROPERTY_LOWER_METHOD%( value : * ) : void
		{
			// TODO: implement method
		}