		/**
	 	* TODO: write documentation
	 	* @return	????
	 	*/
		public function get %PROPERTY_LOWER% () : String { return r ( %PROPERTY_UPPER% ); }
	
		/**
	 	* %DOCUMENTATION%
	 	* @param left	Possible values are: %VALUES%.
	 	*/
		public function set %PROPERTY_LOWER% ( value : * ) : void {
			w ( %PROPERTY_UPPER%, value );
		}