		/**
	 	* %GETTER_DOCUMENTATION%.
	 	* @return	%GETTER_RETURN%.
	 	*/
		public function get %PROPERTY_LOWER_METHOD% () : String { return r ( %PROPERTY_UPPER% ); }
	
		/**
	 	* %SETTER_DOCUMENTATION%.
	 	* @param value	Possible values are: %VALUES%.
	 	*/
		public function set %PROPERTY_LOWER_METHOD% ( value : * ) : void {
			w ( %PROPERTY_UPPER%, value );
		}